.mainDiv{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.counterDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.counter{
    font-size: 120px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.btn{
    padding: 10px;
    font-size: 20px;
}


